body {
    background: #1b5c1b;
    margin: 1.1em;
    color: white;
    font-style: normal;
    font-family: 'Droid Sans', 'Droid Arabic Naskh', sans-serif;
    font-size: 18px;
}

a {
    color: rgba(187, 242, 50, 0.98);
}

#publications {
    font-size: 14px;
}

li {
    margin-bottom: 0.6em;
}